<!DOCTYPE html>
<html lang="en">

<head>
    <meta property="og:title" content="For my biyy ⋆.˚ಇ." />
    <meta property="og:description" content="a special web for someone special" />
    <meta property="og:image" content="{{ url_for('static', filename='love.jpg') }}" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" type="image/png" href="../static/img/image.png" />
    <title>Kimii's Birthday Wish</title>
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">

    <style>
        * {
            font-family: "Josefin Sans", sans-serif;
        }
    </style>

    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- My Style -->
    <link rel="stylesheet" href="../static/style/main.css" />

</head>

<body>

    <audio class="song" loop>
        <source src="../static/music/hbd.mpeg">
        </source>
        Maaf, browser Anda tidak mendukung pemutaran audio.
    </audio>

    <div class="container">
        <div class="one">
            <h1 class="one">
                Helloo
                <span id="name">Kimii!!!</span>
            </h1>
            <p class="two" id="greetingText"> The best boy I ever met</p>
        </div>

        <div class="three">
            <p>Happy level up day my love!!💕</p>
        </div>

        <div class="four">
            <div class="text-box">
                <p class="hbd-chatbox" style="text-align: center;">
                    Selamat ulang tahun yaaa!! Semoga di usia yang baru kamu selalu diberi bahagia dan damai hatinyaa yaa, semoga kamu didekatkan terus dengan orang-orang baik yang tulus, dan selalu melangkah ke arah yang baik yaaaa.. I'm always grateful to have you as my only love♡ tetap sama aku tauu untuk masa yang lamaaaa lamaa lamaaaa...
                </p>
                <p class="fake-btn">⏩</p>
            </div>
        </div>

        <div class="five">
            <p class="idea-1">semoga hari istimewa ini,</p>
            <p class="idea-2">penuh suka cita yaa</p>
            <p class="idea-3">
                All the best on ur<br>
                <strong>special day</strong>
                .
            </p>
            <p class="idea-4">and,</p>
            <p class="idea-5">
                I Loveee Youuuu
                <span>❥</span>
            </p>
            <p class="idea-6">
                <span>S</span>
                <span>O</span>
            </p>
        </div>

        <div class="six">
            <img src="../static/img/kita.png" alt="profile" class="profile-picture" id="imagePath" />
            <div class="wish">
                <br>
                <h3 class="wish-hbd">Happy Birthday</h3>
                <h5 id="wishText">The Person I Love the Most 💖</h5>
            </div>
        </div>

        <div class="seven">
            <div class="baloons">
                <img src="../static/img/ballon2.svg" alt="" />
                <img src="../static/img/ballon1.svg" alt="" />
                <img src="../static/img/ballon3.svg" alt="" />
                <img src="../static/img/ballon1.svg" alt="" />
                <img src="../static/img/ballon2.svg" alt="" />
                <img src="../static/img/ballon3.svg" alt="" />
                <img src="../static/img/ballon2.svg" alt="" />
                <img src="../static/img/ballon3.svg" alt="" />
                <img src="../static/img/ballon1.svg" alt="" />
                <img src="../static/img/ballon2.svg" alt="" />
                <img src="../static/img/ballon3.svg" alt="" />
                <img src="../static/img/ballon2.svg" alt="" />
                <img src="../static/img/ballon1.svg" alt="" />
                <img src="../static/img/ballon3.svg" alt="" />
                <img src="../static/img/ballon2.svg" alt="" />
                <img src="../static/img/ballon3.svg" alt="" />
                <img src="../static/img/ballon1.svg" alt="" />
                <img src="../static/img/ballon2.svg" alt="" />
                <img src="../static/img/ballon1.svg" alt="" />
                <img src="../static/img/ballon3.svg" alt="" />
            </div>
        </div>

        <div class="eight">
            <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                <circle cx="20" cy="20" r="20" />
            </svg>
            <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                <circle cx="20" cy="20" r="20" />
            </svg>
            <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                <circle cx="20" cy="20" r="20" />
            </svg>
            <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                <circle cx="20" cy="20" r="20" />
            </svg>
            <svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                <circle cx="20" cy="20" r="20" />
            </svg>

        </div>

        <div class="nine">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p>
                <a href="/card" style="cursor: pointer; ">Last, but not least!! (click) </a>
            </p>
        </div>
    </div>

</body>
<!-- Greensock -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
<!-- Sweetalert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="application/javascript" src="../static/script/main.js"></script>

</html>